::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #00bbff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0011ff;
}
.btn85 {
    background: transparent;
    position: relative;
    top: 40cm;
    left: 15%;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(255, 0, 179);
    border-radius: 25px;
    outline: none;
    overflow: hidden;
    color: rgb(255, 0, 179);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
  }
  
  .btn85 span {
    margin: 10px;
  }
  
  .btn85::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.3s ease-out;
    z-index: -1;
  }

/*photobuttontest*/

.photo-button {
    position: absolute;
    top: 14cm;
    left: 1cm;
    width: 300px; /* Set the width of the button */
    height: 200px; /* Set the height of the button */
    outline: 3px #0000ffcf solid;
    border-radius: 25px;
    background-image: url(/material/sasuke4.jpg); /* Specify the path to your photo */
    background-size: cover; /* Scale the background image to cover the button */
    background-position: center; /* Position the background image at the center */
    border: none; /* Remove the default button border */
    cursor: pointer; /* Show a pointer cursor on hover */
  }


/*another*/

.button10 {
  position: fixed;
  top: 0.70cm;
  left: 26.5cm;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  cursor: pointer;
  border-radius: 1.5rem;
  background: #000000;
  background-size: 400%;
  color: #fff;
  border: none;
}

.button10:hover::before {
  transform: scaleX(1);
}

.button10-content {
  position: relative;
  z-index: 1;
}

.button10::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}
/*another*/

.button80 {
  position: fixed;
  top: 0.70cm;
  left: 29.5cm;
  cursor: pointer;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #000000;
  background-size: 400%;
  color: #fff;
  border: none;
}

.button80:hover::before {
  transform: scaleX(1);
}

.button80-content {
  position: relative;
  z-index: 1;
}

.button80::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}
/*another*/

.button81 {
  position: fixed;
  top: 0.70cm;
  left: 32.5cm;
  cursor: pointer;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #000000;
  background-size: 400%;
  color: #fff;
  border: none;
}

.button81:hover::before {
  transform: scaleX(1);
}

.button81-content {
  position: relative;
  z-index: 1;
}

.button81::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

/*another*/

.button82 {
  position: fixed;
  top: 0.70cm;
  left: 36.5cm;
  cursor: pointer;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background: #000000;
  background-size: 400%;
  color: #fff;
  border: none;
}

.button82:hover::before {
  transform: scaleX(1);
}

.button82-content {
  position: relative;
  z-index: 1;
}

.button82::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: linear-gradient(
    82.3deg,
    rgba(150, 93, 233, 1) 10.8%,
    rgba(99, 88, 238, 1) 94.3%
  );
  transition: all 0.475s;
}

/* newone */
h1 {
  font-size: 50px;
  color: #dfe0e4;
  z-index: -25;
  text-shadow: 0 0 5px #ffffff40, 0 0 10px #ffffff40, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

/*photobutton69*/

.photo-button69 {
  position: absolute;
  top: 14cm;
  left: 11cm;
  width: 300px; /* Set the width of the button */
  height: 200px; /* Set the height of the button */
  outline: 3px #ffff00 solid;
  border-radius: 25px;
  background-image: url(/material/naruto1.jpg); /* Specify the path to your photo */
  background-size: cover; /* Scale the background image to cover the button */
  background-position: center; /* Position the background image at the center */
  border: none; /* Remove the default button border */
  cursor: pointer; /* Show a pointer cursor on hover */
}

/* naruto photobackground text */
.naruto {
  font-size: 50px;
  color: #dfe0e4;
  z-index: -25;
  text-shadow: 0 0 5px #ffffff40, 0 0 10px #ffffff40, 0 0 15px #e6e200b7, 0 0 20px #e6e200c1, 0 0 25px #e2e600c1, 0 0 30px #e2e600da, 0 0 35px #d7e600d6;
}

/*photobutton45Sakura*/

.photo-button45 {
  position: absolute;
  top: 14cm;
  left: 21cm;
  width: 300px; /* Set the width of the button */
  height: 200px; /* Set the height of the button */
  outline: 3px #ff00aa solid;
  border-radius: 25px;
  background-image: url(/material/sakura1.jpg); /* Specify the path to your photo */
  background-size: cover; /* Scale the background image to cover the button */
  background-position: center; /* Position the background image at the center */
  border: none; /* Remove the default button border */
  cursor: pointer; /* Show a pointer cursor on hover */
}
/* sakura photobackground text */
.sakura {
  font-size: 50px;
  color: #dfe0e4;
  z-index: -25;
  text-shadow: 0 0 5px #ffffff40, 0 0 10px #ffffff40, 0 0 15px #da00a7b7, 0 0 20px #da00a7b7, 0 0 25px #da00a7b7, 0 0 30px #da00a7b7, 0 0 35px #da00a7b7;
}
/*photobutton46Kakashi*/

.photo-button46 {
  position: absolute;
  top: 14cm;
  left: 31cm;
  width: 300px; /* Set the width of the button */
  height: 200px; /* Set the height of the button */
  outline: 3px #adaaac solid;
  border-radius: 25px;
  background-image: url(/material/kakashi1.jpg); /* Specify the path to your photo */
  background-size: cover; /* Scale the background image to cover the button */
  background-position: center; /* Position the background image at the center */
  border: none; /* Remove the default button border */
  cursor: pointer; /* Show a pointer cursor on hover */
}
/* kakashi photobackground text */
.kakashi {
  font-size: 50px;
  color: #ffffff;
  z-index: -25;
  text-shadow: 0 0 5px #ffffff40, 0 0 10px #ffffff40, 0 0 15px #706e70d9, 0 0 20px #706e70d9, 0 0 25px #706e70d9, 0 0 30px #706e70d9, 0 0 35px #706e70d9;
}

/* kakashi photobackground text */
.maintext {
  position: absolute;
  top: 5cm;
  left: 17cm;
  font-size: 70px;
  color: #ffffff;
}

/*photobutton47Kakashi*/

.photo-button47 {
  position: absolute;
  top: 25cm;
  left: 31cm;
  width: 300px; /* Set the width of the button */
  height: 200px; /* Set the height of the button */
  outline: 3px #adaaac solid;
  border-radius: 25px;
  background-image: url(/material/buttonitachi.jpg); /* Specify the path to your photo */
  background-size: cover; /* Scale the background image to cover the button */
  background-position: center; /* Position the background image at the center */
  border: none; /* Remove the default button border */
  cursor: pointer; /* Show a pointer cursor on hover */
}
/* All Mmembers text */
.maintext1 {
  position: absolute;
  top: 19.5cm;
  left: 12cm;
  font-size: 70px;
  color: #ffffff;
}
/* team 7 wrapper */
.w3-container {
  position: absolute;
  top: 6.4cm;
  left: 16cm;
  width: 300px;
  height: 100px;
  background-color: #ff0000;
  border-radius: 25px;
  
}







