
h1 {
  font-size: 55px;
  color: #dfe0e4;
  text-align: center;
  text-shadow: 0 0 5px #ffffff40, 0 0 10px #ffffff40, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}

p {
  font-size: 30px;
  color: #dfe0e4;
  text-align: left;
}
  /* newone */


.wrapper {
  height: 400px;
  width: 600px;
  background-color: #00000090;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 30%;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  border: 6px solid rgb(0, 0, 255);
  box-shadow: 0 0 50px rgb(34, 0, 255);
  padding: 50px 35px;
}

/* TheNew4*/

.btn69 {
  position: absolute;
  top: -25%;
  left: -2.5cm;
  width: 100px;
  height: 8%;
  padding: 10px 32px;
  border-radius: 50px;
  border: 0;
  background-color: rgba(255, 255, 255, 0.079);
  transition: all .5s ease;
 }

.btn69 .text {
  text-align: center;
  color: rgb(213, 2, 2);
  font-weight: 700;
  font-size: 1.4em;
  transition: 400ms;
 }

 .btn69:hover {
  background-color:#0073e6;
  color: hsl(0, 0%, 100%);
  box-shadow: #0073e6;
 }
 
 .btn69:active {
  background-color: #0073e6;
  box-shadow: #0073e6;
  transition: 100ms;
 }